USE [FashionShop]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comments]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[comment_content] [ntext] NULL,
	[date_created] [datetime] NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[contacts]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [varchar](50) NULL,
	[message] [ntext] NULL,
	[date_created] [datetime] NULL,
 CONSTRAINT [PK_contacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[number_products] [int] NULL,
	[total_money] [float] NULL,
	[status] [nvarchar](255) NULL,
	[freight_cost] [float] NULL,
	[date_created] [datetime] NULL CONSTRAINT [default_time]  DEFAULT (getdate()),
	[price] [float] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[categories_id] [int] NULL,
	[price] [float] NULL CONSTRAINT [default_price]  DEFAULT ((0)),
	[images] [text] NULL,
	[sold] [int] NULL CONSTRAINT [default_view]  DEFAULT ((0)),
	[total] [int] NULL,
	[describe] [ntext] NULL,
	[images2] [text] NULL,
	[images3] [text] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[roles]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 2021-01-09 11:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](250) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[password] [varchar](250) NOT NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](250) NULL,
	[full_name] [nvarchar](250) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Áo Kiểu')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Quần')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Áo Thun')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([id], [user_id], [product_id], [comment_content], [date_created]) VALUES (1, 12, 56, N'Quần này đẹp ghê, chờ có lương mua liền 😂', CAST(N'2021-01-09 01:39:08.223' AS DateTime))
INSERT [dbo].[comments] ([id], [user_id], [product_id], [comment_content], [date_created]) VALUES (2, 12, 1, N'Đầm xinh quá', CAST(N'2021-01-09 01:40:01.290' AS DateTime))
INSERT [dbo].[comments] ([id], [user_id], [product_id], [comment_content], [date_created]) VALUES (3, 6, 56, N'Sản phẩm tốt, lần sau mình sẽ mua thêm', CAST(N'2021-01-09 01:41:47.443' AS DateTime))
SET IDENTITY_INSERT [dbo].[comments] OFF
SET IDENTITY_INSERT [dbo].[contacts] ON 

INSERT [dbo].[contacts] ([id], [full_name], [email], [phone], [message], [date_created]) VALUES (1, N'Duy Tiền', N'money@gmail.com', N'0975873465	', N'Mong shop nhập thêm hàng Quảng Châu bán, mình rất thích những sản phẩm đó.', CAST(N'2021-01-08 17:16:21.323' AS DateTime))
INSERT [dbo].[contacts] ([id], [full_name], [email], [phone], [message], [date_created]) VALUES (2, N'Hoàng Phi', N'hoangphi@gmail.com', N'0933784684', N'Trang web thật tuyệt', CAST(N'2021-01-08 17:16:52.133' AS DateTime))
INSERT [dbo].[contacts] ([id], [full_name], [email], [phone], [message], [date_created]) VALUES (3, N'Bá Phú', N'phuba3009@gmail.com', N'0784759515', N'Trang web khá ổn, nên cho phép thêm thanh toán online', CAST(N'2021-01-08 17:17:25.227' AS DateTime))
SET IDENTITY_INSERT [dbo].[contacts] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [product_id], [number_products], [total_money], [status], [freight_cost], [date_created], [price]) VALUES (1, 9, 55, 2, 780000, N'nhận hàng', 0, CAST(N'2021-01-09 01:47:01.237' AS DateTime), 390000)
INSERT [dbo].[orders] ([id], [user_id], [product_id], [number_products], [total_money], [status], [freight_cost], [date_created], [price]) VALUES (2, 2, 2, 1, 625000, N'nhận hàng', 0, CAST(N'2021-01-09 01:48:07.357' AS DateTime), 625000)
INSERT [dbo].[orders] ([id], [user_id], [product_id], [number_products], [total_money], [status], [freight_cost], [date_created], [price]) VALUES (3, 2, 4, 3, 2085000, N'nhận hàng', 0, CAST(N'2021-01-09 01:48:15.383' AS DateTime), 695000)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'ROLE_USER')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'ROLE_MODERATOR')
INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'ROLE_ADMIN')
SET IDENTITY_INSERT [dbo].[roles] OFF
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 3)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password], [phone], [address], [full_name]) VALUES (1, N'admin', N'admin@gmail.com', N'$2a$10$lkGOsa.9mzKfXppFi05dg.qM8iBkbxcP30buQkjMWZRRXGC3WRSqm', N'0339178080', N'K53/25 Huỳnh Ngọc Huệ, Đà Nẵng', N'Nguyễn Văn Hòa')
INSERT [dbo].[users] ([id], [username], [email], [password], [phone], [address], [full_name]) VALUES (2, N'baohung', N'denui98@gmail.com', N'$2a$10$MHAmWU4cVwcNUS5KLcyuuua7EQrtlCfQom4joczIXAfThe6MaEife', N'0989768432	', N'14 Cù Chính Lan, Đà Nẵng', N'Đặng Văn Bảo Hưng')
INSERT [dbo].[users] ([id], [username], [email], [password], [phone], [address], [full_name]) VALUES (3, N'baphu', N'baphu3098@gmail.com', N'$2a$10$UY5XQfxf8.OQ3oesTuqu6uEoR/dVQw4Q4/Fi4i53sqhz9YbnGKkqG', N'0861533890', N'90 Hàm Nghi, Đà Nẵng', N'Tạ Bá Phú')
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 2021-01-09 11:35:30 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 2021-01-09 11:35:30 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_email]    Script Date: 2021-01-09 11:35:30 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [unique_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_username]    Script Date: 2021-01-09 11:35:30 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [unique_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_comments_products]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_comments_users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_products]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_users]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_categories] FOREIGN KEY([categories_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_categories]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [fk_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [fk_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [fk_user]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [check_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [check_price]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [check_total] CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [check_total]
GO
